body {
    background: linear-gradient(-45deg, #280096, #ee1cf5, #1bb1f7, #eb0aff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
   
} 

.container {
    background: linear-gradient(-45deg, #280096, #ee1cf5, #1bb1f7, #eb0aff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: auto;
    height: 100px;
    border: 10px solid rgb(164, 0, 169);
    border-style: outset;
    border-radius: 10px;

    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    color:rgb(0, 0, 166);
    text-align:center;
    font-size: 70px;
    margin-top: 0%;
    font-weight: bold;
    
    
}
        
.gomb {
    position:static;
    top: 1%;
    left:1%;
    text-align: center;
    background-color: #ff5ffc;
    color:rgb(37, 0, 183);
    border: 4mm ridge blue;
    border-radius: 30px;
    font-size: 20px;
    font-family: Comic Sans MS;
    cursor: pointer;
    margin: auto;

    
} 
#image1 {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border: 5px solid blue;
    border-radius: 10px;
    }
p1 {text-align:center;
    font-size: 70px;
    font-family:Ink Free;
    }
pre {font-size:50px;
font-family:gabriola;
color:#7F0087;
text-align:center;
}
p2 {color:rgb(73, 171, 73);
    font-size:20px;
}
.link1 {
    color:rgb(0, 36, 168);
    font-size:20px;
    background-color:rgb(64, 238, 223);
    border-radius: 10px;
    border:2px solid rgb(64, 238, 223);
    
    
}
.container2 {
    border:none;
    

}
.gomb2 {
    background-color: #7F0087;
    color:blanchedalmond;
    font-size: 30px;
    border:10px ridge rgb(183, 70, 0);
    border-radius: 4px;
    cursor: pointer;

}
.linkbevezeto {
    color:rgb(0, 0, 95);
    font-size:50px;
    border: 4px solid rgb(0, 0, 95);
    text-align: center;
    border-radius: 5px;
    border-style: inset;
    background-color: #e757d6;
}
.kviz {
    font-size: 30px;
    font-style: italic;
    color:rgb(13, 0, 88);
    margin-left:5%;
    
}
li a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 10px;
    margin: 0%;
    background-color: #eb0aff;
    border: 4px solid  rgb(164, 0, 169) ;
    border-radius: 5%;
    width: fit-content;
    text-align: center;
    
}
li {
    display: inline;
    padding: 8px 20px;
    font-size: 30px;
    border-right: 4px solid rgb(164, 0, 169);
}
li:last-child {
    border-right: none;
}
li a:hover {
    color: #91eeff;
}
.cim {
    color: rgb(35, 255, 255);
}

