h1 {text-align:center;
    color:red;
}
    body {
        background-color:#ffabf5; 
       }
.vissza {
    border: none;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    font-size: 30px;
    background-color: rgb(202, 243, 243);
    cursor: pointer;
    border-style: outset;
}
.kep1container {
    margin-left: 30%;
    margin-right:30%;
}

